/* Ustalam ze dla wrappera sposobem wyswietlania jest grid
    Tutaj ustalam OGOLNE WYMIARY SIATKI - potem moze byc problem z dostosowaniem elementow */

    /* This section addresses all entities in the project */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body{
  background :url('/images/nice2.jpg');
  min-height: 650px;

  /* Effect scrolling parallax  */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main_section{

    /* Pozycja absolutna DO RODZICA */
    position: absolute;

    height: 600px;
    left: 15px;
    right: 15px;
    top: 60px;
    bottom: 60px;

    border-radius: 5px;
    background: url('/images/cards1.jpg') no-repeat;
    background-size: 100%;    /* opacity: 0.5; */
    box-shadow: 0px 0px 50px 0px;
    /* filter: blur(2 px); */
}


#scores-section{
    position: absolute;
    background-color: rgba(102, 53, 53, 0.85);
    height: 100%;
    width: 30%;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.player-section{
    position: absolute;
    width: 250px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(102, 53, 53, 0.85);
    border-radius: 5px;
}

#player-0-section{
    left: 60px;
}

#player-1-section{
    right:  60px;
}


img{
max-width: 100%;
max-height: 100%;
display: block; 
}

#scores-section div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    background-color: rgba(102, 53, 53, 0.85);;
}


#card-counter{
    font-size: 65px;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 5px;
    border-radius: 0px 0px 5px 5px;
    transform: translate(-50%, -0%);
    border: 1px solid black;
}

#round-winner-indicator{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    background-color: darkcyan;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;

}

.card-img{
    position: absolute;
    height: 250px;
    width: 163px;
    top: 50%;
}

#img-0{
    left: 5%;
    transform: translate(0%, -50%);
}

#img-1{
    left: 95%;
    transform: translate(-100%, -50%);
}

.player-score{
    position: absolute;
    height: 130px;
    width: 280px;
    background-color: rgba(103, 110, 91, 0.5);
    top: 45%;
    bottom: 55%;
    transform: translate(-50%, -0%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 160px;
    border-radius: 3px;
}

#player-0-score{
    left: 20%;
}

#player-1-score{
    left: 80%;
}

.button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 150px;
    background-color: rgba(103, 110, 91, 0.5);    

    border: 1px solid black;
    border-radius: 5px;

    font-family: 'Arial';
    font-weight: bold;     
    text-transform: uppercase;
}

#button-shuffle{
    top: 80%;
    height: 50px;
}

#button-new-game{
    top: 90%;
    height: 30px;
}

/* Media section will step in when screen is resized */
@media only screen and (max-width: 1075px) {
    #scores-section {display: none;}
}

















